<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      General Settings
    </mat-expansion-panel-header>

    <div>
      <label for="inner-opacity">Inner Opacity</label>
      <mat-slider
        id="inner-opacity"
        [ngModel]="data.inner_opacity"
        (ngModelChange)="data.inner_opacity = $event; updateData()"
      ></mat-slider>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Text Settings
    </mat-expansion-panel-header>

    <mat-checkbox
      [ngModel]="data.show_text"
      (ngModelChange)="data.show_text = $event; updateData()"
      labelPosition="before"
    >
      Show Text
    </mat-checkbox>

    <br>
    <!--For some extra spacing-->
    <p></p>

    <mat-checkbox
      [ngModel]="data.rotate_text"
      (ngModelChange)="data.rotate_text = $event; updateData()"
      labelPosition="before"
    >
      Rotate Text
    </mat-checkbox>
  </mat-expansion-panel>
</mat-accordion>

<div class="data_settings">
  <h2>Data Settings</h2>

  <app-data-settings></app-data-settings>

</div>
