<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      General Settings
    </mat-expansion-panel-header>

    <div>
      <label for="inner-opacity">Inner Opacity</label>
      <mat-slider
        id="inner-opacity"
        [ngModel]="data.inner_opacity"
        (ngModelChange)="data.inner_opacity = $event; updateData()"
      ></mat-slider>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Text Settings
    </mat-expansion-panel-header>

    <mat-checkbox
      [ngModel]="data.show_text"
      (ngModelChange)="data.show_text = $event; updateData()"
      labelPosition="before"
    >
      Show Text
    </mat-checkbox>

    <br>
    <br>

    <mat-checkbox
      [ngModel]="data.rotate_text"
      (ngModelChange)="data.rotate_text = $event; updateData()"
      labelPosition="before"
    >
      Rotate Text
    </mat-checkbox>

    <br>
    <br>

    <mat-form-field>
      <mat-label>Size</mat-label>
      <input matInput
             type="number"
             [ngModel]="data.text_size"
             (ngModelChange)="data.text_size = $event; updateData()">
    </mat-form-field>

    <br>

    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput
             type="color"
             [ngModel]="data.text_color"
             (ngModelChange)="data.text_color = $event; updateData()">
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>

<div class="data_settings">
  <h2>Data Settings</h2>

  <app-data-settings></app-data-settings>

</div>
