<div class="input-field">
  <label for="color-yes-input">Color for Yes: </label>
  <input type="color" [ngModel]="yes_color" (ngModelChange)="updateYesColor($event)" id="color-yes-input">
</div>

<div class="input-field">
  <label for="color-no-input">Color for No: </label>
  <input type="color" [ngModel]="no_color" (ngModelChange)="updateNoColor($event)" id="color-no-input">
</div>


<div class="input-field">
  <label for="inner-opacity">Inner Opacity</label>
  <input type="range" [ngModel]="data.inner_opacity" (ngModelChange)="data.inner_opacity = $event; updateData()"
         id="inner-opacity">
</div>

<div class="input-field">
  <label for="ano-value">Ano: </label>
  <input type="number" [ngModel]="real_ano_value" (ngModelChange)="updateRealAnoValue($event)" id="ano-value">
</div>

<div class="input-field">
  <label for="show-text">Show Text: </label>
  <input type="checkbox" [ngModel]="data.show_text" (ngModelChange)="data.show_text = $event; updateData()"
         id="show-text">
</div>


<div class="input-field">
  <label for="rotate-text">Rotate Text: </label>
  <input type="checkbox" [ngModel]="data.rotate_text" (ngModelChange)="data.rotate_text = $event; updateData()"
         id="rotate-text">
</div>
